.contenedorEndpoint{
    display: flex;
    flex-direction: column;
    font-family: Orbitron;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.contenedorEndpoint h2{
    color: #0bb;
}
.contenedorEndpoint span{
    font-weight: 500;
}
.contenedorEndpoint button{
    width: 50%;
    font-family: Orbitron;
    font-size: 16px;
    color: #0bb;
    background-color: #eee;
    border: 3px solid #0bb;
    border-radius: 5px;
    font-weight: 600;
}
.contenedorEndpoint button:hover{
    background-color: #fff;
    color: #0cc;
    border-color: #0cc;
}
.contenedorEndpoint button:active{
    background-color: #ddd;
    color: #0aa;
    border-color: #0aa;
}
.btnHome{
    margin-top: 5%;
    width: 50%;
    font-family: Orbitron;
    font-size: 16px;
    color: #0bb;
    background-color: #eee;
    border: 3px solid #0bb;
    border-radius: 5px;
    font-weight: 600;
}
.btnHome:hover{
    background-color: #fff;
    color: #0cc;
    border-color: #0cc;
}
.btnHome:active{
    background-color: #ddd;
    color: #0aa;
    border-color: #0aa;
}