/*Estilos Globales de Listas*/
.ListaJuegos{
    margin: 30px;
    display: flex;
    flex-direction: column;
    z-index: 1;
    color: #fff;
    width: 90%;
}
.ListaJuegos h2{
    align-self: flex-start;
    padding-left: 15px;
}
.contenedorLista{
    margin-top: 15px;
    max-width: 100%;
    min-width: 90%;
    display: flex;
    flex-direction: row;
    align-self: center;
    overflow-x: hidden;
    overflow-y: hidden;
    gap: 5%;
}
.contenedorScroll{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.flecha {
    height: fit-content;
    background: none;
    border: none;
    font-size: 40px;
    color: #ddd;
    cursor: pointer;
    z-index: 1;
    padding: 0 1rem;
    user-select: none;
}
.flecha:hover{
    color: #fff;
    text-shadow: 0 0 10px #fff
}
.flecha:active{
    color: #eee;
}
.flecha:disabled {
    opacity: 0.3;
    cursor: default;
}

/*Lista por genero*/
.card-genero {
    position: relative;
    width: 200px;
    height: 200px;
    background-color: #222;
    border-radius: 10px;
    overflow: hidden;
    margin: 0 10px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s ease;
    flex-shrink: 0;
}
.card-genero:hover {
    transform: scale(1.05);
}
.card-genero:active {
    transform: scale(1.1);
}
.card-genero img {
    z-index: 1;
    width: 200px;
    height:200px;
    object-fit: cover;
    filter: brightness(0.4);
    transition: filter 0.3s ease;
}
.card-genero:hover img {
    filter: brightness(0.6);
}
.titulo-genero{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 4px black;
}

/*Lista Juegos Destacados*/


.card-juego{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 10px;
    flex-shrink: 0;
    width: 200px;
    height: 200px;
    margin: 0 10px;
    color: #fff;
    transition: transform 0.3s ease;
    cursor: pointer;
}
.titulo-juego{
    z-index: 1;
}
.genero-juego{
    position: absolute;
    z-index: 1;
    bottom: 10px;
    right: 10px;
    font-size: 12px;
}
.imagen-genero {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    margin-bottom: 0.5rem;
    filter: brightness(0.4);
    transition: transform 0.3s ease, filter 0.3s ease;
    border-radius: 10px; /* Asegura que la imagen respete los bordes redondeados */
}
.card-juego:hover{
    transform: scale(1.05);
}
.card-juego:hover img{
    filter: brightness(0.6);
}
.card-juego:active {
    transform: scale(1.1);
}
.error{
    color: #fff
}
.loading{
    color: #fff
}