
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.home-container{
    position: relative;
    display: flex;
    flex-direction: column;
    font-family: 'Press Start 2P', monospace;
    background-image: url(./../assets/images/FondoHome.png);
    background-repeat: repeat;
    background-size: 25%;
    background-position: top left;
    justify-content: center;
    align-items: center;
}
.home-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9); /* oscurece con transparencia */
    z-index: 0;
}
/*--------------------------------------------------*/
/* HomeNoLogin */
/*--------------------------------------------------*/
.descripcion-pagina{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60%;
    width: 90%;
    background-color: #003;
    border: 5px solid #004;
    border-radius: 10px;
    padding: 15px;
    margin: 30px 15px 15px 15px;
    gap: 15%;
    z-index: 2;
    overflow: hidden;
}
.descripcion-pagina img{
    position: absolute;
    top: 0;
    left: 50;
    width: 100%;
    z-index: 1;
    filter: brightness(0.2);
}
.descripcion-pagina span{
    z-index: 2;
    color: #ddd;
    font-size: 20px;
}

.descripcion-pagina button {
    height: 40px;
    width: 15%;
    font-family: 'Press Start 2P', monospace;
    font-size: 14px;
    color: #ffff00;
    background-color: #000;
    border: 4px solid #ffff00;
    border-radius: 10px;
    padding: 10px 20px;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: 0 0 10px #ffff00;
    transition: all 0.2s ease;
    z-index: 2;
    margin: 30px 15px 15px 15px
}

.descripcion-pagina button:hover {
    background-color: #ffff00;
    color: #000;
    box-shadow: 0 0 20px #ffff00;
}

/*--------------------------------------------------*/
/* HomeLogueado */
/*--------------------------------------------------*/
.boton-coleccion{
    width: fit-content;
    font-family: 'Press Start 2P', monospace;
    font-size: 1rem;
    color: #00f;
    background-color: #000;
    border: 4px solid #00f;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    box-shadow: 0 0 10px #00f;
    transition: all 0.2s ease;
    z-index: 2;
    margin: 30px 15px 15px 15px;
    position: relative;
}
.boton-coleccion:hover {
    background-color: #00f;
    color: #000;
    box-shadow: 0 0 20px #00f;
}
.boton-coleccion:active {
    background-color: #000;
    color: #00f;
    box-shadow: 0 0 10px #00f;
}
