.formulario_reporte_error {
    width: 500px;
    margin: 30px left;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.8);;
    margin: 80px auto;
    border-radius: 10px;
}

.formulario_reporte_error input[type="email"] {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px;
}

.formulario_reporte_error textarea {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px;
    resize: none;
}

.formulario_reporte_error button {
    width: 100%;
    padding: 12px;
    background-color: #b95;
    color: black;
    border: none;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s;
}

.formulario_reporte_error button:hover {
    background-color: rgb(188, 139, 40);;
}