body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(../../img/fondo_body.png);
    background-size: cover;        /* hace que la imagen cubra todo el fondo */
    background-position: center;   /* centra la imagen */
    background-repeat: no-repeat;  /* evita que la imagen se repita */
    background-attachment: fixed;  /* hace que el fondo quede fijo al hacer scroll (opcional) */

}

/*========================================INICIO DE SESION===========================================*/
.body_inicio_sesion {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(../../img/Fondo_InicioSesion.png);
    background-size: cover;        /* hace que la imagen cubra todo el fondo */
    background-position: center;   /* centra la imagen */
    background-repeat: no-repeat;  /* evita que la imagen se repita */
    background-attachment: fixed;  /* hace que el fondo quede fijo al hacer scroll (opcional) */
}

.formulario_inicio_sesion {
    width: 320px;
    margin: 30px left;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.8);;
    margin: 80px auto;
    border-radius: 10px;
}
  
.formulario_inicio_sesion input[type="text"],
.formulario_inicio_sesion input[type="password"] {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px;
}
  
.formulario_inicio_sesion button {
    width: 100%;
    padding: 12px;
    background-color: #b95;
    color: black;
    border: none;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s;
}
  
.formulario_inicio_sesion button:hover {
    background-color: rgb(188, 139, 40);
}
 
.formulario_inicio_sesion a {
    color: #b95;
    text-decoration: underline;
}

/*========================================REGISTRO DE SESION===========================================*/
.body_registro_sesion {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(../../img/Fondo_RegistroSesion.png);
    background-size: cover;        /* hace que la imagen cubra todo el fondo */
    background-position: center;   /* centra la imagen */
    background-repeat: no-repeat;  /* evita que la imagen se repita */
    background-attachment: fixed;  /* hace que el fondo quede fijo al hacer scroll (opcional) */
}

.formulario_registro_sesion {
    width: 500px;
    margin: 30px left;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.8);;
    margin: 80px auto;
    border-radius: 10px;
}
  
.formulario_registro_sesion input[type="text"],
.formulario_registro_sesion input[type="email"],
.formulario_registro_sesion input[type="password"] {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px;
}
  
.formulario_registro_sesion input[type="date"] {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px;
}

.formulario_registro_sesion button {
    width: 100%;
    padding: 12px;
    background-color: #b95;
    color: black;
    border: none;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s;
}

.formulario_registro_sesion button:hover {
    background-color: rgb(188, 139, 40);;
}
.formulario_registro_sesion a {
    color: #b95;
    text-decoration: underline;
}

.formulario_registro_sesion input[type="checkbox"] {
    margin-right: 10px;
}

.formulario_registro_sesion select {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px;
}