.ListaJuegosPorGenero{
    margin: 30px;
    display: flex;
    flex-direction: column;
    z-index: 1;
    color: #fff;
    width: 90%;
}
.ListaJuegosPorGenero h2{
    align-self: flex-start;
    padding-left: 15px;
}
.contenedorGenero{
    margin-top: 15px;
    max-width: 100%;
    min-width: 90%;
    display: flex;
    flex-direction: row;
    align-self: center;
    overflow-x: hidden;
    overflow-y: hidden;
    gap: 5%;
}
.flecha {
    border: none;
    font-size: 40px;
    color: white;
    cursor: pointer;
    z-index: 1;
    padding: 0 1rem;
    user-select: none;
}

.flecha:disabled {
    opacity: 0.3;
    cursor: default;
}
.card-genero {
    position: relative;
    width: 200px;
    height: 200px;
    background-color: #222;
    border-radius: 10px;
    overflow: hidden;
    margin: 0 10px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease;
    flex-shrink: 0;
}
.card-genero:hover {
    transform: scale(1.05);
}
.card-genero img {
    z-index: 1;
    width: 200px;
    height:200px;
    object-fit: cover;
    filter: brightness(0.4);
    transition: filter 0.3s ease;
}
.card-genero:hover img {
    filter: brightness(0.6);
}
.titulo-genero{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 4px black;
}