<%- include('partials/head')%>
<body>
    <%- include('partials/header')%>
    <main>
        <div class="contenedorErrores">
            <% messages.forEach(function(m) { %>
                <div>
                    <span><%= m %></span>
                </div>
            <% }); %>
        </div>
        <button class="btnHome" onclick="window.location.href='/'">Volver al Home</button>
    </main>

    <%- include('partials/footer')%>

</body>
</html>