@font-face {
    font-family: Josefin-sans;
    src: url(../fuentes/Josefin-sans/JosefinSans-SemiBold.ttf) format(truetype);
    font-weight: 400;
}

@font-face {
    font-family: Josefin-sans;
    src: url(../fuentes/Josefin-sans/JosefinSans-Bold.ttf) format(truetype);
    font-weight: 700;
}
*{
    font-family: "Josefin-sans";  
}
a{
    font-size: 20px;
}