<%- include('partials/head')%>
<body>
    <%- include('partials/header')%>
    <main>
        <div class="contenedorEndpoint">
            <h2>Turno eliminado correctamente</h2>
            <button class="btnHome" onclick="window.location.href='/'">Volver al Home</button>
        </div>
    </main>

    <%- include('partials/footer')%>

</body>
</html>